@import url("base.css");

.eta-menu-listbox{
    border-radius:5px;
    margin:0px;
    padding:0px;
}

.eta-menu-listbox row:hover, row:selected{
    border-radius:5px;
}

.eta-menu-flowbox flowboxchild{
    border-radius:5px;
}

.eta-menu-frame row{
    margin:0px;
}

.eta-menu-frame > border{
    border-radius: 5px;
}
