[Desktop Entry]
Version=1.0
Type=Application
Name=ETA Menu
Comment=App Launcher
Exec=systemd-run --user /usr/bin/eta-menu
Icon=eta-menu
Terminal=false
Categories=GTK;Utility;
StartupNotify=false
NoDisplay=true
