[Desktop Entry]
Name=ETA Menu
Comment=ETA Menu
Exec=eta-menu --tray
Icon=eta-menu
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
Keywords=menu;
